<a href="https://colab.research.google.com/github/Jhansipothabattula/Machine_Learning/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Handling missing values**
* Methods to handle missing values

 1.Drop missing values

 2.Fill missing values

 3.Interpolation

**Data Transformations**

1.Renaming columns

2.Changing data types

3.Creating or modifying columns

In [ ]:
# Rename columns
df = df.rename(columns={"old_name":"new_name"})
# Changing data types
df["column_name"] = df["column_name"].astype("float")
# Creating or modifying columns
df["column_name"] = pd.to_datetime(df["column_name"])
df["new_column"] = df["existing_column"] * 2

**Combining and Merging DataFrames**

1.Concatenation

2.Merging

3.Joining

In [ ]:
# Concatenation
combined = pd.concat([df1, df2], axis=0)
combined = pd.concat([df1, df2], axis=1)
# Merging
merged = pd.merge(df1, df2, on="common_column")
merged = pd.merge(df1, df2, how="left", on="common_column")
merged = pd.merge(df1, df2, how="inner", on="common_column")
# Joining
joined = df1.join(df2, how="inner")

In [ ]:
# Create a sample dataset
import numpy as np
import pandas as pd
data = {
    "Name": ["Janu", "Prassu", np.nan, "Indu"],
    "Age": [19, np.nan, 19, 19],
    "Score":[85, 90, np.nan, 88],
}
df = pd.DataFrame(data)
print("Original DataFrame: \n", df)
# Filling missing values using fillna and interpolate
df["Age"] = df["Age"].fillna(df["Age"].mean())
df["Name"] = df["Name"].fillna("Unknown")
df["Score"] = df["Score"].interpolate()
print("Dataset: \n", df)
# Renaming columns
df = df.rename(columns={"Name":"Student_name", "Score":"Exam_score"})
print("Dataset: \n", df)

Original DataFrame:
      Name   Age  Score
0    Janu  19.0   85.0
1  Prassu   NaN   90.0
2     NaN  19.0    NaN
3    Indu  19.0   88.0
Dataset:
       Name   Age  Score
0     Janu  19.0   85.0
1   Prassu  19.0   90.0
2  Unknown  19.0   89.0
3     Indu  19.0   88.0
Dataset:
   Student_name   Age  Exam_score
0         Janu  19.0        85.0
1       Prassu  19.0        90.0
2      Unknown  19.0        89.0
3         Indu  19.0        88.0

In [ ]:
# Exercise1:Clean a dataset by handling missing values and renaming columns
import numpy as np
import pandas as pd
df1 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Janu", "Prassu", "Indu"],
    "Age": [19, 19, 19],
})
df2 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Score": [85, 90, 88],
})
print("Dataset 1:\n", df1)
print("Dataset 2:\n", df2)
merged = pd.merge(df1, df2, on="ID")
print("Merged dataset:\n", merged)

Dataset 1:
    ID    Name  Age
0   1    Janu   19
1   2  Prassu   19
2   3    Indu   19
Dataset 2:
    ID  Score
0   1     85
1   2     90
2   3     88
Merged dataset:
    ID    Name  Age  Score
0   1    Janu   19     85
1   2  Prassu   19     90
2   3    Indu   19     88